@import "tailwindcss";

:root {
  --bg: #0B0F14;
  --card: #111827;
  --card2: #1F2937;

  --text: #F8FAFC;
  --muted: #94A3B8;

  --red: #EF4444;
  --cyan: #06B6D4;
  --green: #22C55E;
  --purple: #8B5CF6;
}

body{
  margin:0;
  background:var(--bg);
  color:var(--text);
  font-family:Inter,sans-serif;
}